@import "../../styles/solors.scss";

.containerBrandProduct {
    margin: 0px auto 0;
    position: relative;
    display: flex;
    flex-direction: column;
    

    .errorMesage {
        width: 300px;

        color: $error;
    }
    .input {
        display: block;
        height: 35px;
        width: 300px;
        border-radius: 10px;
        outline: none;
        border: 1px solid gray;
        padding: 0 5px 0;
    }
    .error {
        border: 1px solid red;
    }
    button {
        height: 30px;
        width: 150px;
        margin-top: 20px;
        border-radius: 10px;
        border: 1px solid gray;
        transition: all 0.2s;
        text-transform: uppercase;
        margin-bottom: 20px;
        &:hover {
            background-color: rgb(204, 202, 202);
        }
    }
    .errorButton {
        pointer-events: none;
    }
}
