@import "../../styles/solors.scss";

.containerUserInfo {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .group {
        display: flex;
        gap: 40px;
        font-size: 20px;
        color: $primary-light;
        line-height: 25px;
        div,
        input {
            border: none;
            height: 25px;

            border-bottom: 1px solid $primary-light;
            width: 200px;
        }
        input {
            border-radius: 5px;
            border: 1px solid black;
        }
        span {
            color: $red;
            font-size: 16px;
            cursor: pointer;
        }
    }
}
.missingUserNumber {
    color: $error;
}
