@import "../../styles/solors.scss";

.containerSearchProducts {
    width: 80%;
    margin: 40px auto 0;

    .searchContainer {
        margin-bottom: 30px;
        // background-color: #f7f8fa;
        p {
            position: relative;
            width: 100%;
            padding: 10px;
            color: $secondary;
            position: relative;
            padding-left: 30px;
            svg {
                top: 7px;
                left: 0;
                position: absolute;
            }
        }
        .titleSearch {
            font-size: 24px;
            margin-bottom: 20px;
            line-height: 28px;
            font-weight: 500;
        }
    }

    .searchErrorContainer {
        p {
            position: relative;
            width: 100%;
            padding: 10px;
            color: $secondary;
            position: relative;
            padding-left: 30px;
            svg {
                top: 7px;
                left: 0;
                position: absolute;
            }
        }
        .titleSearchError {
            font-size: 24px;
            margin-bottom: 20px;
            line-height: 28px;
            font-weight: 500;
        }
    }
}
