.containerCardList {
    width: 100%;
    // padding: 15px;
    display: flex;
    gap: 10px;
    row-gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (max-width: 1200px) {
        // row-gap: 10px;
        gap: 10px;
    }
    @media (max-width: 830px) {
        // row-gap: 10px;
        // display: none;
    }
}
