@import "../../styles/solors.scss";
.containerSort {
    display: block;
    .dropDownToogle{
    background-color: #cc0c0c !important;
    }
    .orderProduct {
        width: 260px;
        display: flex;
        justify-content: start;
        border: none;
        background-color: $white;
        color: $primary-dark;
        padding: 0;
        span {
            color: $gray;
        }
        &:active {
            background: transparent;
            color: $primary-dark;
            border-color: $extra-light;
        }
        .buttonChengeSizes {
            border: none;
            background: $primary-dark;
            width: 100%;
            height: 34px;
            font-size: 14px;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: center;
            color: $white;
            text-transform: uppercase;
           
        }
        .superColor {
            text-transform: capitalize;
            background-color: #ffffff;
            width: 100%;
            padding: 0;
            padding-top: 10px;
            gap: 15px;

            
           
            
        }
    }
    .superColor {
        text-transform: capitalize;
        background-color: #ffffff;
        width: 100%;
        padding: 0;
        padding-top: 10px;
        gap: 15px;
        a {
            transition: all 0.2s;
           
            &:active {
                background:$gray;
            }
        }

        .buttonChengeSizes {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: none;
            background: $primary-dark;
            width: 100%;
            height: 34px;
            font-size: 14px;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: center;
            color: $white;
            text-transform: uppercase;
        }
    }
}
