* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$primary: #2231aa;
$primary-secondary: #5360cd;
$secondary: #313037;
$gray: #8d8e97;
$medium: #dadada;
$extra-light: #f3f3f3;
$error: #fd3419;
$white: #ffffff;
$light: #e8e8e8;
