* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$primary: #2231aa;
$primary-secondary: #5360cd;
$secondary: #313037;
$gray: #8d8e97;
$medium: #dadada;
$error: #fd3419;

$white: #ffffff;
$extra-light: #e8e8e8;
$light: #cec6c4;
$red: #e64926;
$primary-light: #254a5a;
$primary-dark: #0f303f;
$line-grey: #EAE9E8;
