.containerPagesContainer {
    // align-items: center;
    // flex: 1;
    // background-color: #ad8888;
    // width: 1440px;
    // min-height: 100vh;
    // display: flex;
    // flex-direction: column;
    // margin: auto;
    .outlet {
        // justify-content: start;
        display: flex;
        flex-direction: column;
        min-height: calc(100vh - 121px);
        // background-color: #4b99a7;
        // min-height: 100vh;
        // margin-top: 30px;
        // margin-bottom: 40px;

        // height: 100%;
        // margin: auto;
        // background-color: #528857;
        .outletContainer {
        }
        // flex: 1;
    }
    .footer {
    }

    .imagesContainer {
        width: 210px;
        // display: flex;
        img {
        }
    }
}
