@import "../../styles/solors.scss";
.containerMain {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    transition: all 0.2s;
    @media (max-width: 900px) {
        padding: 0 20px;
    }

    .containerShopPage {
        margin-top: 20px;
        display: flex;
        gap: 25px;
        margin-bottom: 40px;
        @media (max-width: 830px) {
            flex-direction: column;
            gap: 15px;
        }
        .title {
            color: $primary-dark;
            font-size: 25px;
            font-weight: 500;
            line-height: 100%; /* 25px */
            text-transform: uppercase;
            margin-bottom: 20px;
            display: none;
            @media (max-width: 830px) {
                display: block;
            }
        }
        .containerFilter {
            min-width: 220px;
            transition: all 0.2s;
            // display: none;
            @media (max-width: 1070px) {
                min-width: 180px;
            }
            @media (max-width: 830px) {
                display: none;
            }
        }
        .containerProducts {
            max-width: 840px;
            .paginate {
                margin-top: 40px;
                display: flex;
                justify-content: center;
            }
            .products {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .title {
                color: $primary-dark;
                font-size: 25px;
                font-weight: 500;
                line-height: 100%; /* 25px */
                text-transform: uppercase;
                margin-bottom: 20px;
                display: block;
                @media (max-width: 830px) {
                    display: none;
                }
            }
            .sortProducts {
                margin-bottom: 30px;
                @media (max-width: 830px) {
                    // display: none;
                    display: flex;
                    justify-content: center;
                    gap: 20px;

                    // display: flex;
                }
                .filterButton {
                    width: 100%;
                    background-color: $white;
                    height: 40px;
                    font-size: 16px;
                    border: 1px solid $line-grey;
                    display: none;
                    @media (max-width: 830px) {
                        display: block;
                    }
                }
                .sortButton {
                    width: 100%;
                    background-color: $white;

                    border: 1px solid $line-grey;
                    height: 40px;

                    display: none;
                    @media (max-width: 830px) {
                        display: block;
                    }
                }
                .filterSizePriceBrand {
                    display: flex;
                    gap: 10px;
                    @media (max-width: 830px) {
                        display: none;
                    }
                }
                .orderContainer {
                    margin-top: 10px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    @media (max-width: 830px) {
                        display: none;
                    }
                    .countProducts {
                        color: $gray;
                        @media (max-width: 830px) {
                            display: none;
                        }
                    }
                }
                // .orderProduct {
                //     width: 260px;
                //     display: flex;
                //     justify-content: start;
                //     border: none;
                //     background-color: $white;
                //     background-color: blue;
                //     color: $primary-dark;
                //     padding: 0;
                //     span {
                //         color: $gray;
                //     }
                //     .superColor {
                //         text-transform: capitalize;
                //         background-color: #ffffff;
                //         width: 100%;
                //         padding: 0;
                //         padding-top: 10px;
                //         gap: 15px;

                //         .showAllBrand {
                //             background-color: #ffcbcb;
                //         }
                //         .buttonChengeSizes {
                //             border: none;
                //             background: $primary-dark;
                //             width: 100%;
                //             height: 34px;
                //             font-size: 14px;
                //             line-height: 19px;
                //             letter-spacing: 0em;
                //             text-align: center;
                //             color: $white;
                //             text-transform: uppercase;
                //         }
                //         .groupSizes {
                //             width: 80%;
                //             margin: auto;
                //             display: flex;
                //             justify-content: center;
                //             gap: 5px;
                //             flex-wrap: wrap;
                //             margin-bottom: 15px;

                //             label {
                //                 display: flex;
                //                 flex-direction: column;
                //                 align-items: center;
                //                 justify-content: center;
                //                 width: 35px;
                //                 height: 35px;
                //                 color: $primary-dark;
                //                 font-size: 12px;
                //                 line-height: 170%;
                //                 border: 1px solid $extra-light;
                //                 background: #fff;
                //                 cursor: pointer;
                //                 text-transform: uppercase;
                //             }
                //             input {
                //                 display: none;

                //                 &:checked + label {
                //                     background-color: $extra-light;
                //                 }
                //             }
                //         }
                //     }
                // }

                // .superColor {
                //     text-transform: capitalize;
                //     background-color: #ffffff;
                //     width: 100%;
                //     padding: 0;
                //     padding-top: 10px;
                //     gap: 15px;

                //     .showAllBrand {
                //         display: flex;
                //         flex-direction: column;
                //         align-items: center;
                //         justify-content: center;
                //         border: none;
                //         background: $primary-dark;
                //         width: 100%;
                //         height: 34px;
                //         font-size: 14px;
                //         line-height: 19px;
                //         letter-spacing: 0em;
                //         text-align: center;
                //         color: $white;
                //         text-transform: uppercase;
                //         transition: all 0.2s;
                //         &:hover {
                //             transition: all 0.5s;
                //             background: #295a70;
                //         }
                //     }
                //     .buttonChengeSizes {
                //         display: flex;
                //         flex-direction: column;
                //         align-items: center;
                //         justify-content: center;
                //         border: none;
                //         background: $primary-dark;
                //         width: 100%;
                //         height: 34px;
                //         font-size: 14px;
                //         line-height: 19px;
                //         letter-spacing: 0em;
                //         text-align: center;
                //         color: $white;
                //         text-transform: uppercase;
                //     }
                //     .groupSizes {
                //         width: 80%;
                //         margin: auto;
                //         display: flex;
                //         justify-content: center;
                //         gap: 5px;
                //         flex-wrap: wrap;
                //         margin-bottom: 15px;

                //         label {
                //             display: flex;
                //             flex-direction: column;
                //             align-items: center;
                //             justify-content: center;
                //             width: 35px;
                //             height: 35px;
                //             color: $primary-dark;
                //             font-size: 12px;
                //             line-height: 170%;
                //             border: 1px solid $extra-light;
                //             background: #fff;
                //             cursor: pointer;
                //             text-transform: uppercase;
                //         }
                //         input {
                //             display: none;

                //             &:checked + label {
                //                 background-color: $extra-light;
                //             }
                //         }
                //     }
                // }
            }
        }
    }

    .navigationHistory {
        li {
            cursor: pointer;

            text-transform: capitalize;
        }
        li:last-child {
            color: $gray;
            cursor: default;
        }
        li:nth-child(2) {
            cursor: pointer;
        }
        display: flex;
        gap: 30px;
    }
}
.offcanvasSort {
    height: 300px !important;
    width: 100%;
    .headerOffcanvasSort {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 30px 0;
    }

    .headerContainer {
        flex: 1;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            bottom: -30px;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: $line-grey;
        }
        .headerTitle {
            font-size: 20px;
            font-weight: 500;
            line-height: 18px;
            text-align: center;
            color: $primary-dark;
        }
    }

    button {
        position: absolute;
        right: 30px;
    }
    .offcanvasBody {
        width: 100%;
        margin-top: 40px;
        margin-bottom: 60px;
        text-align: center;
        div {
            font-size: 16px;
            font-weight: 500;
            line-height: 28px;
            cursor: pointer;
        }
    }
}
