.container {
  // max-width: 1120px;
  // margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  // flex: 1;
  margin-top: 40px;
}

// .breadcrumbs {
//   margin-bottom: 32px;
//   font-weight: 400;
//   font-size: 16px;
//   color: gainsboro;
//   cursor: pointer;
//   &:hover {
//     color: forestgreen;
//   }
// }

.formContainer {
  // display: flex;
  // flex-direction: column;

  // margin: 72px auto 0 auto;
  // flex: 1;
  width: 624px;
  padding: 40px;
  border: 1px solid rgb(116, 115, 115);
}
.fieldsContainer {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  // align-items: center;
  gap: 40px;
  flex: 1;
}
.button {
  // margin-top: 48px;
  width: 150px;
  height: 40px;
  border: 1px solid transparent;
  background-color: #1f1e1e;
  color: white;
  border-radius: 5px;
  transition: all 0.2s;
  &:hover {
    background-color: #7c7b7b;
    border: 1px solid #1f1e1e;
  }
}

.darkContainer {
  background-color: gray;
  .breadcrumbs {
    color: white;
  }
  .formContainer {
    border-color: gray;
  }
}

.containerFooter {
  margin-top: 48px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
