.containerHeader {
    background-color: #181f5e;
    padding: 0 15px;
    height: 120px;
    .containerMain {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo {
            font-size: 80px;
            font-weight: 700;
            color: #83e965;
        }
        .wrapContainer {
            display: flex;
            gap: 40px;
            align-items: center;
            .image {
                width: 40px;
                height: 40px;
                background-color: #ffffff;
                border-radius: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            .nav {
                position: relative;
                font-size: 31px;
                color: #83e965;

                cursor: pointer;

                img {
                    width: 30px;
                    object-fit: cover;
                }
            }
            .checkUser{
            background-color: #a1dd54;
            
            }
        }
    }
}
