@import "../../styles/solors.scss";
.containerHeader {
    // background-color: #8f97e6;
    width: 1440px;
    padding: 20px 45px;
    margin: auto;
    // height: 120px;
    border-bottom: 1px solid $extra-light;
    .containerMain {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .sexsave {
            div {
                cursor:pointer;
            }
            display: flex;
            font-size: 16px;
            text-transform: uppercase;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 0.1em;
            gap: 45px;
            color: $primary-dark;
            .label {
            cursor: pointer;
                input {
                    margin-top: -5px;
                    width: 150px;
                    margin-left: 20px;
                    border: none;
                    // background-color: #8f97e6;
                    border-bottom: 1px solid $primary-dark;
                    outline: none;
                    &:focus-visible {
                        // background-color: #8f97e6;
                    }
                }
            }
        }
        .language {
            div {
                cursor:pointer;
            }
            display: flex;
            gap: 30px;
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 0.1em;
            text-align: center;
            color: $primary-dark;
        }
        .logo {
            font-size: 20px;
            font-weight: 400;
            color: $primary-dark;
            cursor: pointer;
        }
        .wrapContainer {
            display: flex;
            gap: 40px;
            align-items: center;
            .image {
                width: 30px;
                height: 30px;
                background-color: #ffffff;
                border-radius: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            .nav {
                position: relative;
                font-size: 15px;
                color: #83e965;

                cursor: pointer;

                img {
                    width: 18px;
                    object-fit: cover;
                }
            }
            .checkUser {
                background-color: #a1dd54;
            }
        }
    }
}
