@import "../../styles/solors.scss";
.containerHeader {
    // background-color: #8f97e6;
    max-width: 1440px;
    padding: 20px 15px;
    margin: auto;
    // flex: 1;

    // height: 120px;
    border-bottom: 1px solid $extra-light;
    .containerMain {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .sexsave {
            .katalog {
                cursor: pointer;
            }
            display: flex;
            align-items: center;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            gap: 65px;
            color: $primary-dark;
            .label {
                display: flex;
                align-items: center;
                height: 35px;
                position: relative;
                label {
                    cursor: pointer;
                }
                input {
                    position: relative;
                    width: 300px;
                    // background-color: #8f97e6;
                    // padding: 10px 5px;
                    padding: 0 5px;
                    // height: 30px;
                    height: 100%;
                    border-radius: 25px;
                    border: none;
                    border: 1px solid $gray;
                    // border-bottom: 1px solid $primary-dark;
                    outline: none;
                    &:focus-visible {
                        background-color: rgb(233, 233, 233);
                    }
                }
                .searchSVG {
                    cursor: pointer;
                    position: absolute;
                    right: 10px;
                    top: 2px;
                    width: 30px;
                }
                .rusultSearch {
                    padding: 10px;
                    max-height: 400px;
                    z-index: 1002;
                    // overflow: scroll;
                    overflow-y: scroll;
                    background-color: #ecebeb;
                    width: 300px;
                    position: absolute;
                    top: 55px;
                    left: 7px;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    .searchContainer {
                        cursor: pointer;
                        padding: 10px;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        gap: 20px;
                        background-color: #e0e0e0;
                        border: 1px solid transparent;
                        transition: all 0.4s;
                        img {
                            width: 60px;
                            height: 80px;
                            object-fit: cover;
                        }
                        &:hover {
                            border: 1px solid $gray;
                        }
                    }
                    .descriptionProductSearch {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        span {
                            text-transform: capitalize;
                        }
                    }
                }
            }
        }
        .language {
            .bold {
                background-color: #8b5959;
            }
            div {
                cursor: pointer;
            }
            display: flex;
            gap: 30px;
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 0.1em;
            text-align: center;
            color: $primary-dark;
        }
        .logo {
            font-size: 20px;
            font-weight: 400;
            color: $primary-dark;
            cursor: pointer;
        }
        .wrapContainer {
            display: flex;
            gap: 40px;
            align-items: center;
            .image {
                width: 30px;
                height: 30px;
                background-color: #ffffff;
                border-radius: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            .nav {
                position: relative;
                font-size: 15px;
                color: #83e965;

                cursor: pointer;

                img {
                    // width: 18px;
                    object-fit: cover;
                }
                .basktProductCount{
                    top: 9px;
                    right:  0;
                    position: absolute;
                    color: white;
                    background-color: $primary-dark;
                    height: 15px;
                    width: 15px;
                    border-radius: 50%;
                    font-weight: 500;
                    font-size: 12px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding-top: 2px;
                
                }
            }
            .checkUser {
                background-color: #a1dd54;
                position: relative;
                // &::after {
                //     content: "";
                //     position: absolute;
                // }
            }
        }
    }
}
// .modal {
//     border-radius: 10px;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
// }
// .modals {
//     // width: 50px;
//     position: relative;
//     border-radius: 10px;
// }
// .dialog {
//     position: absolute;
//     left: 550px;
//     top: 42px;
//     // background-color: red;

//     input {
//         border: 1px solid black;
//         outline: none;
//         width: 900px;

//         height: 40px;
//         border-radius: 10px;
//     }
// }

.modals {
    padding: 20px;
    min-width: 400px;
    // width: 100%; /* Задайте ширину модального окна по вашему усмотрению */
    // padding: 20px; /* Добавьте отступы для контента модального окна */
    // background-color: white; /* Добавьте фоновый цвет для контейнера модального окна */
    border-radius: 10px; /* Задайте скругление углов для контейнера модального окна */
}

.dialog {
    // background-color: #fff;
    max-width: 400px;
}

.dialog input {
    width: 100%; /* Сделайте ширину поискового поля равной 100% ширины контейнера */
    padding: 10px; /* Добавьте отступы вокруг текста внутри поля */
    border: 1px solid #ccc; /* Добавьте границу вокруг поля */
    border-radius: 5px; /* Скруглите углы поля */
    outline: none; /* Уберите стандартное выделение поля */
    box-sizing: border-box; /* Установите box-sizing: border-box для корректного учета внутренних отступов и границ */
}
