.NameFilter {
    button {
        text-transform: capitalize;
        background-color: #e2e1e1;
    }
}
.allCategory {
    background-color: #f0b1b1;
    height: 30px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
}
.bodyFilter {
    padding: 0;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
        background-color: #e2e1e1;
    }
}
.castomToogle {
    padding: 17px;
}
