@import "../../styles/solors.scss";
.NameFilter {
    button {
        text-transform: capitalize;
        background-color: $extra-light;
        font-family: Jost;
    }
}
.customToggle {
    text-transform: capitalize;

    padding: 17px;
}
.allCategory .customToggle {
    background-color: $gray;
    background-color: $primary-dark;
    padding: 7px;
    text-transform: capitalize;
    transition: all 0.3s;
    &:hover {
        background-color: $primary-light;
    }
    div {
        color: $white;
        text-transform: uppercase;
        text-align: center;
    }
}
.bodyFilter {
    padding: 0;
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
        background-color: #e2e1e1;
    }
}
.disabled {
    display: none;
}
