.containerAddProduct {
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin-top: 40px;
    gap: 10px;
    button {
        width: 200px;
        height: 40px;
        border-radius: 10px;
    }
}
.error {
    color: rgb(224, 27, 27);
}
.uploadImageWrapper {
    
    padding: 0;
    background-color: #913131 !important;
    button {
    }
}
.imageItem {
    background-color: #a9c252;
    display: flex;
}
.imageItemBtnWrapper {
    background-color: #da0808;
}
