@import url("../../styles/solors.scss");
.containerFooter {
    // background-color: #dedfe4;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #EAE9E8;
    .containerMain {
        color: #0f303f;
        font-size: 20px;
    }
}
