@import "../../styles/solors.scss";
.userPage {
    // background-color: #d47373;
    // width: 100%;
    display: flex;
    // flex: 1;
    flex-direction: column;
    // height: 100%;
    width: 1440px;
    margin: auto;
    flex: 1;
    // min-height: calc(100vh - 121px);

    .title {
        font-size: 27px;
        font-weight: 500;
        line-height: 25px;
        letter-spacing: 0.03em;
        text-align: center;
        margin: 45px 0 30px;
        text-transform: uppercase;
    }
    .containerWrap {
        border-top: 1px solid $line-grey;
        display: flex;
        // justify-content: space-between;
        gap: 80px;
        // border-top: 1px solid black;
            flex: 1;
            position: relative;

        // &::after {
        //     content: "";
        //     position: absolute;
        //     top: 0px;
        //     left: 200px;
        //     height: 100%;
        //     width: 1px;
        //     background-color: $line-grey;
        //     // border-right: 1px solid black;
        // }
        // border-bottom: 1px solid black;

        // &::after {
        //     content: "";
        //     position: absolute;
        //     top: -100px;
        //     left: 200px;
        //     height: 100%;
        //     width: 1px;
        //     background-color: $line-grey;
        //     // border-right: 1px solid black;
        // }
        .outletContainer {
            padding: 55px;
            width: 100%;
            // height: 100%;
            flex: 1;
        }
        .navigationUserPage {
            min-width: 240px;
            // display: flex;
            // flex-direction: column;
            border-right: 1px solid $line-grey;
            // border-left: 1px solid $line-grey;
            // background-color: #ad8080;
            padding: 15px;
            padding-right: 40px;
            // flex: 1;
            display: flex;
            flex-direction: column;
            position: relative;
            gap: 20px;
            // min-height: 450px;
            li {
                cursor: pointer;
                display: flex;
                gap: 10px;
                align-items: center;
                font-size: 16px;
                font-weight: 800;
                line-height: 19.12px;
                color: $primary-dark;
            }
        }
    }
}
