@import "../../styles/solors.scss";
.userPage {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    flex: 1 0;
    overflow: hidden;
    .title {
        font-size: 27px;
        font-weight: 500;
        line-height: 25px;
        letter-spacing: 0.03em;
        text-align: center;
        margin: 45px 0 30px;
        text-transform: uppercase;
    }
    .containerWrap {
        border-top: 1px solid $line-grey;
        display: flex;
        gap: 40px;
        position: relative;
        flex: 1 0;
        @media (max-width: 770px) {
            display: none;
        }

        .navigationUserPage {
            flex: 0 1;
            min-width: 240px;
            border-right: 1px solid $line-grey;
            padding: 15px;
            padding-right: 40px;
            display: flex;
            flex-direction: column;
            position: relative;
            gap: 20px;
            flex-shrink: 1;

            @media (max-width: 1024px) {
                // border: none;
            }
            li {
                cursor: pointer;
                display: flex;
                gap: 10px;
                align-items: center;
                font-size: 16px;
                font-weight: 800;
                line-height: 19.12px;
                color: $primary-dark;
                &.active {
                    color: $error;
                    position: relative;
                    &::before {
                        content: "";
                        position: absolute;
                        left: -15px;
                        width: 5px;
                        height: 130%;
                        background-color: $error;
                    }
                }
            }
        }
        .outletContainer {
            padding: 15px 0;
            max-width: 100%;
            flex: 1;
        }
    }
    .containerAccordions {
        .accordionName {
            cursor: pointer;
            display: flex;
            gap: 10px;
            align-items: center;
            font-size: 16px;
            font-weight: 800;
            line-height: 19.12px;
            color: $primary-dark;
            &.active {
                color: $error;
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    left: -15px;
                    width: 5px;
                    height: 130%;
                    background-color: $error;
                }
            }
        }
        .exit {
            width: 200px;

            button {
                width: 100%;
                &::after {
                    content: "";
                    display: none;
                }
                div {
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    font-size: 16px;
                    font-weight: 800;
                    line-height: 19.12px;
                    color: $primary-dark;
                }
            }
        }
        @media (min-width: 770px) {
            display: none;
        }
    }
}
