@import "../../styles/solors.scss";
.containerSingleProduct {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 100px;
    margin-bottom: 100px;
}
.carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a {
        width: 60px;
        height: 60px;
        top: 150px;
    }
}
.mainImageWrap {
    position: relative;
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 5px;
    // height: 678px;
    overflow: hidden;
    // max-height: 600px;
    .saveImg {
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 30px;
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
        bottom: 10px;
        right: 8px;
        cursor: pointer;
    }
    .allImages {
        width: 85px;
        display: flex;
        
        
        flex-direction: column;
        gap: 10px;
        max-height: 600px;
        overflow-y: auto;
        &::-webkit-scrollbar {
            width: 0; /* Ширина полосы прокрутки */
            height: 0; /* Высота полосы прокрутки */
        }
        img {
            width: 85px;
            object-fit: contain;
            cursor: pointer;
        }
    }
}
.mainImg {
    max-width: 452px;

    // height: 500px;
    object-fit: contain;
    height: 100%;
}

.containerCarousel {
    max-width: 822px;
    .titleCarousel {
        font-size: 25px;
        font-weight: 500;
        line-height: 25px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 45px;
    }
}
.containerWrapper {
    display: flex;
    gap: 36px;

    .containerDescription {
        .buttonGroup{
            
        }
        .productName {
            color: $primary-dark;
            font-size: 25px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-transform: uppercase;
        }
        .productType {
            font-size: 18px;
            font-weight: 300;
            line-height: 21.86px;
            color: $primary-dark;
            opacity: 0.5;
        }
        .price {
            color: $primary-dark;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 0.81px;
            text-transform: uppercase;
            margin-bottom: 20px;
        }
        .sizes {
            color: $primary-dark;
            max-width: 120px;
            font-size: 12px;
            line-height: 170%;
            text-decoration-line: underline;
            cursor: pointer;
            margin-bottom: 20px;
            margin-top: 5px;
            padding: 0 5px;
        }
        .size {
            span {
                color: $primary-dark;
                font-size: 12px;
                font-weight: 400;
                line-height: 170%;
                display: block;
            }
            .sizeTable {
                display: inline-flex;
                gap: 10px;
                .groupLable {
                    display: inline-block;
                }
                label {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 35px;
                    height: 35px;
                    color: $primary-dark;
                    font-size: 12px;
                    line-height: 170%;
                    border: 1px solid $extra-light;
                    background: #fff;
                    cursor: pointer;
                    text-transform: uppercase;
                }
                input {
                    display: none;

                    // &:checked + label {
                    //     background-color: $gray;
                    // }
                }
                .sizeLabelActive {
                    background-color: $gray;
                }
                // input[type="radio"] {
                //     display: none;

                //     &:checked + label {
                //         background-color: $primary-dark;
                //     }
                // }
            }
        }
        .containerColors {
            margin-bottom: 20px;
            span {
                color: $primary-dark;
                font-size: 12px;
                line-height: 170%;
            }
            .colorTable {
                display: flex;
                gap: 15px;
                button {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    border: 1px solid $extra-light;
                    background-color: #fff;
                }
                label {
                    width: 20px;
                    height: 20px;
                    border: 1px solid $extra-light;

                    border-radius: 50%;
                    cursor: pointer;

                    &:nth-child(2) {
                        background-color: rgb(90, 201, 47);
                    }

                    &:nth-child(4) {
                        background-color: $red;
                    }

                    &:nth-child(6) {
                        background-color: $primary;
                    }

                    &:nth-child(8) {
                        background-color: black;
                    }
                }
                input[type="radio"] {
                    display: none;

                    &:checked + label {
                        border: 3px solid rgb(138, 133, 133);
                    }
                }
            }
        }
        .paymentReturnContainer {
            margin-top: 10px;
            display: flex;
            max-width: 280px;

            justify-content: space-between;

            div {
                font-size: 16px;
                font-weight: 400;
                line-height: 23.8px;
                color: $primary-dark;
                opacity: 0.6;
                cursor: pointer;
            }
        }
        .buttonAddToBucket {
            border-radius: 0;
            width: 280px;
            height: 50px;
            color: $primary-dark;
            font-size: 16px;
            line-height: normal;
            text-transform: uppercase;
            border: 1px solid $primary-dark;
            background-color: #fff;
            transition: all 0.2s;
            &:hover {
                font-size: 17px;
            }
        }
        .buttonBuy {
            background-color: $primary-dark;
            border-radius: 0;
            color: $extra-light;
            font-size: 16px;
            line-height: normal;
            text-transform: uppercase;
            border: 1px solid $primary-dark;
            width: 280px;
            height: 50px;
            transition: all 0.2s;

            &:hover {
                font-size: 17px;
                // transform: scale(1.01);
            }
        }
    }
}

.modalContentTableSize {
    .modalContainerTableSize {
        .modalClose {
            border: none;
            margin-bottom: 10px;
            padding: 0;
        }
        .imageContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 710px;
            margin: 0 auto  ;
            padding-bottom: 20px;
            img {
                object-fit: cover;
                border-radius: 5px;
            }
        }
    }
}
.modalContainer {
    padding: 46px 40px;

    .modalClose {
        border: none;
    }
    .modalHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .titleModal {
        font-size: 16px;
        font-weight: 800;
        text-transform: uppercase;
        color: $primary-dark;
    }
    .subtitleModal {
        font-size: 16px;
        font-weight: 800;
        color: $primary-dark;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    p {
        font-size: 16px;
        font-weight: 400;
        text-align: left;
        line-height: 19.12px;
        margin-bottom: 15px;
    }
}

#color1 + label {
    background-color: #fff;
}
.parent {
    // width: 700px;
    height: 100%;
    background-color: #ecd0d0;
    display: grid;
    flex-wrap: wrap;
    gap: 10px;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(3, 1fr);
    &:nth-child(1) {
        width: 300px;
        background-color: #72d416;
    }
    &:nth-child(2) {
        width: 300px;
        background-color: #b45a30;
    }
}

