@import "../../styles/solors.scss";

// .signIn {
//   color: $primary;
//   margin-left: 4px;
//   &:hover {
//     cursor: pointer;
//     text-decoration: underline;
//   }
// }
.additionalInfo {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: $secondary;

    flex: 1;
    display: flex;
    justify-content: center;
    // margin-top: 24px;
}
.darkAdditionalInfo {
    color: $medium;
}
.signIn {
    color: $secondary;
    margin-left: 4px;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

.containerSignUp {

    width: 521px;
    margin: 0 auto;
    padding: 0 20px;
    @media (max-width: 550px) {
    width:100%;

    }
    .title {
        font-size: 27px;
        font-weight: 500;
        line-height: 34.15px;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 40px;
        color: $primary-dark;
    }
    .containerForm {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .containerName {
            display: flex;
            gap: 20px;
            @media (max-width: 550px) {
                flex-direction: column;
            }
        }
        .containerPassword {
            display: flex;
            gap: 20px;
            @media (max-width: 550px) {
                flex-direction: column;
            }
        }
        input {
            position: relative;
            border: none;
            color: $primary-dark;
            border-bottom: 1px solid $primary-dark;
            border-radius: 0;
            padding: 5px;
            transition: all 0.4s;

            &::placeholder {
                color: $gray;
            }
            &:focus {
                transition: all 0.4s;
                // border-bottom: 2px solid $primary-dark;
                // background-color: rgba(13, 110, 253, 0.25);
                // box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
                box-shadow: none;
            }
        }
    }
    .containerCheckPassword {
        margin-top: 10px;
        display: flex;
        gap: 10px;
        align-items: center;
        input,
        label {
            cursor: pointer;
        }
        input {
            // width: 15px;
            // height: 15px;
        }
    }
    .containerButtonSubText {
        display: flex;
        gap: 20px;
        margin-top: 10px;
        align-items: center;
        button {
            width: 250px;
            height: 50px;
            border: none;
            text-transform: uppercase;
            background-color: $primary-dark;
            color: $white;
        }
        div {
            font-size: 14px;
            font-weight: 500;
            line-height: 16.39px;
            text-align: left;
            color: $primary-dark;

            span {
                color: $error;
                cursor: pointer;
            }
        }
    }
}
