body {
    margin: 0;

    font-family: "Jost", "Cormorant Garamond", -apple-system, BlinkMacSystemFont,
        "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #254a5a;
}
code {
    font-family: "Cormorant Garamond", serif;
    font-family: "Jost", sans-serif;
}
ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
p {
    padding: 0;
    margin: 0;
}
input {
    border-radius: 0;
    border: none;
}
